# DEPENDENCIES
node_modules
.nx-cache

# BUILD
dist
certs

# ENVIRONMENT
.env*
!.envrc

# WORKSPACE
.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# PNPM
# Branch-specific lockfiles created by gitBranchLockfile setting.
# Only the main pnpm-lock.yaml should be committed.
pnpm-lock.*.yaml

# MOON
.moon/cache
.moon/docker

# STORYBOOK
*storybook.log
storybook-static

# PLAYWRIGHT
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# PYTHON
__pycache__/
*.pyc
.pytest_cache/

# TEMP
.DS_Store
/tmp/*
!/tmp/.gitkeep
