apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-deployment
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Values.container.name }}
          image: {{ .Values.container.image }}
          imagePullPolicy: Never
          ports:
            - containerPort: {{ .Values.vars.PORT }}
              name: http
          env:
          {{- range $key, $val := .Values.vars }}
            - name: {{ $key }}
              value: {{ $val | quote }}
          {{- end }}
