name: Build, test and deploy (split)

on:
  push:
    branches:
      - "**"

jobs:
  build:
    name: Build, check & test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        index: [0, 1]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Moon toolchain
        uses: moonrepo/setup-toolchain@v0
        with:
          auto-install: true
          proto-version: 0.51.6

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node.js with caching
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Get Moon cache
        uses: actions/cache@v3
        with:
          path: .moon
          key: ${{ runner.os }}-moon-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-moon-

      - name: Get base and head for affected commands
        id: vars
        run: |
          git fetch origin main --depth=2
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "MOON_BASE=HEAD~1" >> $GITHUB_ENV
            echo "MOON_HEAD=HEAD" >> $GITHUB_ENV
          else
            echo "MOON_BASE=origin/main" >> $GITHUB_ENV
            echo "MOON_HEAD=${{ github.sha }}" >> $GITHUB_ENV
          fi

      - name: Check affected packages
        run: moon ci --job ${{ matrix.index }} --jobTotal 2 :build :typecheck :test

  docker:
    name: Containerize
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}
          username: ${{ secrets.CONTAINER_REGISTRY_USERNAME }}
          password: ${{ secrets.CONTAINER_REGISTRY_PASSWORD }}

      - name: Build base Docker image
        uses: docker/build-push-action@v6
        with:
          cache-from: type=registry,ref=${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/repro:build-cache
          cache-to: type=registry,ref=${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/repro:build-cache
          tags: ${{ secrets.CONTAINER_REGISTRY_ENDPOINT}}/repro:latest
          file: infra/Dockerfile
          push: true
          build-args: |
            CONTAINER_REGISTRY_ENDPOINT=${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/

